<h1>Register/Login Page</h1>

<div class="login">
	<h2>login</h2>
	<form method="post" class="stacked-form">
	  <div class="row">
	    <div class="col-xs-12">
	      <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
	      <input type="text" name="EmailAddress" value="" placeholder="Email Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email" />
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-12">
	      <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
	      <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password" />
	    </div>
	  </div>
	  <input type="submit" value="{{ctrl.auth_btn}}" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box" ng-click='ctrl.authenticate()'/>
	</form>
</div>


<div class="register">
	<h2>register</h2>
	<form method="post" class="stacked-form" ng-submit="ctrl.register()">
	  <div class="row">
	    <div class="col-xs-12">
	      <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
	      <input class="form-input bs-input-box stacked-input-box" type="email" name="EmailAddress" value="" placeholder="Email Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email" />
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-12">
	      <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
	      <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password" />
	    </div>

	    <div class="col-xs-12">
	      <span class="field-validation-valid" data-valmsg-for="Re-type Password" data-valmsg-replace="true"></span>
	      <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.repassword" />
	    </div>
	  </div>
	  <input type="submit" value="{{ctrl.register_btn}}" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box"/>
	</form>
</div>
