<div class="container">
<h1>User Page</h1>

<button class="btn btn-default" ng-click='ctrl.goHome()'>See all Jobs</button>
<button class="btn btn-default" ng-click='ctrl.logOut()'>Log-out</button>

<hr>

<div class="media row" ng-repeat='job in ctrl.user.jobSaved'">
    
  <div class="col-md-2 hvr-float-shadow" ng-click="ctrl.goToJob(job.posting._id)">
    <img class="img-responsive" ng-src="{{job.posting.Logo}}">
    <h4>{{job.posting.Title}}</h4>
  </div>
  
  <div class="col-md-10">
    <div>
      <button class="btn btn-default">Research: {{job.researched}}</button>
      <button class="btn btn-default">Submit Resume: {{job.resumed}}</button>
      <button class="btn btn-default">Send Application: {{job.applied}}</button>
      <button class="btn btn-default">Getting the Interview: {{job.interviewed}}</button>
    </div>
    <div><textarea class="form-control" rows='3' placeholder="{{job.notes  || 'notes: '}}"></textarea></div>
    <div><button class="btn btn-default">Save</button></div>
  </div>
    
      
</div>
</div>




<!-- <p>jobSaved: {{ctrl.user.jobSaved[0].posting.Title}}</p> -->



<!-- <div class="media hvr-float" 
    ng-repeat="job in ctrl.userJobs = (ctrl.jobs|
      filter: {Title:ctrl.search} | 
      orderBy: ctrl.sortSelect.sortField : ctrl.sortSelect.reverse)"
    ng-click="ctrl.goToJob(job._id)">
    
    <div class="media-left"><img class="media-object" ng-src="{{job.Logo}}"></div>
    
    <div class="media-body">
      <h4 class="media-heading">
        {{job.Title}}
      </h4>
      <div>
        {{job.ComDes | limitTo: 250 }}{{job.CompanyInfo.length > 250 ? '...' : ''}}
      </div>
      <div>
        <ul>
          <li ng-repeat='responsibilty in job.Responsibilities | limitTo: 3'>{{responsibilty}}</li>
        </ul>
      </div>
      <button class="btn btn-default pull-right" ng-click='ctrl.saveJob(job._id); $event.stopPropagation()'>Save Listing</button>
      <button class="btn btn-default pull-right" ng-click='ctrl.goToApply(job._id); $event.stopPropagation()'>Quick Apply</button>
    </div>
  </div> -->


