<div class="container">
<h1>User Page</h1>

<button class="btn btn-default" ng-click='ctrl.goHome()'>See all Jobs</button>
<button class="btn btn-default" ng-click='ctrl.logOut()'>Log-out</button>

<hr>

<div class="media row" ng-repeat='job in ctrl.user.jobSaved'">
    
  <div class="col-md-2 hvr-float-shadow" ng-click="ctrl.goToJob(job.posting._id)">
    <img class="img-responsive" ng-src="{{job.posting.Logo}}">
    <h4>{{job.posting.Title}}</h4>
  </div>
  
  <div class="col-md-10">
    <div>
      <button class="btn" ng-class='{"btn-success":job.researched, "btn-danger":!job.researched}'><span ng-class='{"glyphicon glyphicon-ok":job.researched,"glyphicon glyphicon-remove":!job.researched}' aria-hidden="true"> Research: {{job.researched}}</button>
      <button class="btn btn-default" ng-class='{"btn-success":job.researched, "btn-danger":!job.researched}'><span ng-class='{"glyphicon glyphicon-ok":job.researched,"glyphicon glyphicon-remove":!job.researched}' aria-hidden="true"> Submit Resume: {{job.resumed}}</button>
      <button class="btn btn-default" ng-class='{"btn-success":job.researched, "btn-danger":!job.researched}'><span ng-class='{"glyphicon glyphicon-ok":job.researched,"glyphicon glyphicon-remove":!job.researched}' aria-hidden="true"> Send Application: {{job.applied}}</button>
      <button class="btn btn-default" ng-class='{"btn-success":job.researched, "btn-danger":!job.researched}'><span ng-class='{"glyphicon glyphicon-ok":job.researched,"glyphicon glyphicon-remove":!job.researched}' aria-hidden="true"> Getting the Interview: {{job.interviewed}}</button>
    </div>
    <div><textarea class="form-control" rows='3' placeholder="{{job.notes  || 'notes: '}}"></textarea></div>
    <div class="pull-right">
      <button class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save Notes</button>
      <button class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Job</button>
    </div>
  </div>
    
      
</div>
</div>